#gain-control input {
    -webkit-appearance: slider-horizontal;
    width: 100%;
    height: 16px;
}
body{
    color:#6F6F6F;
}
/*controls*/
.controls{
    background-color: #fcfcfc;
    float: left;
    width:100%;
    border-bottom: 1px dotted #D5D5D5;
}
.controls > div {
    float: left;
    padding: 0.5%;
    margin:1%;
    height:80px;
}
#select-instrument,
#select-source{
    width:10%;
}
#gain-control{
    width: 6%
}
#canvas-controls{
    width:20%;
}
#output-details{
    width:38%;
    border-radius: 15%;
    background: #bbbbbb none repeat scroll 0 0;
}
#select-instrument select{
    width: 100%;
}
#select-source #play-button{
    display: none;
}
#select-source button,
#select-source input{
    float: left;
    margin-right: 6%;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#canvas-controls button{
    float: left;
    margin-right: 6%;
    margin-bottom:10px;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#detector {
    float: left;
    width: 61%;
}
#bpm-indicator {
    width: 39%;
    float: left;
    text-align: right;
}
#detector > div,
#bpm-indicator > kbd{
    float: left;
    margin:10px;
}
#detector .pitch,
#bpm-indicator > kbd{
    font-size:24px;
    min-width:76px;
    text-align: right;
}
#detector .note{
    font-size:32px;
    width: 58px;
}
#bpm-indicator{
    float: right;
}
button{
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15%;
}
#follow-button.inactive,
#autocorrection-button.inactive{
    background-color: transparent;
}
#follow-button.active,
#autocorrection-button.active{
    background-color: #82A28B;
}
button.enabled{
    opacity:1;
}
button.disabled{
    opacity:0.3;
}
#mic-button{
    background-image: url("../icons/mic-source.png");
    background-size: 24px;
}
#sample-button{
    background-image: url("../icons/sample-source.png");
    background-size: 24px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
}
#play-button{
    background-image: url("../icons/play.png");
    background-size: 24px;
}
#autocorrection-button{
    background-image: url("../icons/correction.png");
    background-size: 24px;
}
#redraw-notes-button{
    background-image: url("../icons/redraw-corrected.png");
    background-size: 24px;
}
#redraw-bpm-button{
    background-image: url("../icons/bpm-redraw.png");
    background-size: 24px;
}
#clear-button{
    background-image: url("../icons/clear.png");
    background-size: 24px;
}
#follow-button{
    background-image: url("../icons/follow.png");
    background-size: 24px;
}
/*output*/
.output{
    width: 100%;
    clear:both;
}
.nav-tabs>li>a{
    font-size: 20px;
    color:#6F6F6F;
}
.nav-tabs>li{
    background-color: #bbbbbb;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
}
.nav-tabs .ui-tabs-active,.nav > li > a:focus{
    background-color: #fcfcfc;
    border: none;
}
#output-notation .output-tabs{
    float: left;
}
#output-notation .canvas-controls{
    float: right;
}
#output-notation .notation{
    width:100%;
    clear:both;
}
.output #output-notation{
    width: 100%;
}
.output #pianoRoll > div:nth-child(2) ,
.output #score > div:nth-child(2) {
    overflow: auto !important;
    height: 700px;
}
.doubleScroll-scroll-wrapper{
    width:auto;
}
.output #pianoRoll > canvas { margin: 0; padding: 1em; white-space: nowrap; }
.output #output-details{
    height:100px;
    overflow: hidden;  
}
@media screen and (max-width: 1280px){
    #output-details{
        background: none;
    }
    #output-details > div{
        color: #82A28B;
    }
    #select-source {
        width: 9%;
    }
    #output-details {
        width: 43%;
    }
    div#detune {
        font-size: 11px;
    }
    #canvas-controls {
        width: 16%;
    }
    #canvas-controls button ,
    #select-source button,
    #select-source input{
        width: 24px;
        height: 24px;
        background-size: 16px;
    }
    label{
        font-size:12px;
    }
}
@media screen and (max-width: 780px){
    label{
        display: none;
    }
    #select-instrument,
    #gain-control{
        width:18%;
    }
    #select-source{
        width:15%;
    }
    #canvas-controls{
        width: 32%;
    }
    #output-details {
        width: 100%;
    }
    .controls > div{
        height:auto;
    }
    #detector .pitch, #bpm-indicator > kbd {
        font-size: 22px;
        min-width: 40px;
    }
    #detector .note {
        font-size: 28px;
        width: 54px;
    }
    .output #pianoRoll > div:nth-child(2), .output #score > div:nth-child(2) {
        height: 500px;
    }
}
@media screen and (max-width: 480px){
    #gain-control{
        width:10%;
    }
    #canvas-controls {
        width: 44%;
    }
    .output #pianoRoll > div:nth-child(2), .output #score > div:nth-child(2) {
        height: 300px;
    }
}